@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  width: 37.5rem;
  margin: auto;
}

/*  MENU DE NAVEGAÇÃO  */
.menu {
  height: 6rem;
  background-color: #e4e7ec;
}

.menu ul {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-around;
  height: 100%;
}

.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li:nth-child(2) {
  width: 20rem;
}

/*  SEÇÃO PRINCIPAL  */

.main {
  width: 100%;
  height: 36.9rem;

  background-image: url('/assets/mulher-segurando-bolsa.png');
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 23.1rem;
}

.main p {
  font-family: 'Bodoni Moda 28pt';
  font-style: italic;
  font-weight: 700;
  font-size: 38.6564px;

  line-height: 4.3rem;
  letter-spacing: 1.20801px;
  text-transform: uppercase;
  color: #333333;
  opacity: 0.7;
}

.main p:first-child {
  text-align: left;
  text-indent: 4.284rem;
}

.main p:nth-child(2) {
  text-align: left;
  text-indent: 6.032rem;
}

.main p:nth-child(3) {
  text-align: left;
  text-indent: 3.671rem;
}

.main button {
  width: 25.3rem;
  height: 4rem;

  margin-top: 16.75rem;
  border-radius: 3rem;
  border: none;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.4rem);

  box-sizing: border-box;

  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #fcfcfc;
}

/*  NOVA COLEÇÃO  */


.newCollection h2 {
  padding-top: 2.7rem;
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 4rem;

  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;


  color: #000000;
}

.newCollection svg{
  margin-left: 12.5rem;
  margin-bottom: 0.6rem;
}

.newCollection ul{
height: 6rem;

  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


